/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
html {
  height: 100%
}

body {
  height: 100%
  margin: 0;
}

body {
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
}

body {
  text-align: center;
}

h1 {
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 100px;
  font-family: Quicksand;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  color: #ffffff;
  font-family: Quicksand;
}


form {
  margin: 150px;
}

label {
  margin-right:40px;
  margin-left: 5px;
  font-family: sans-serif;
  font-style: italic;
}

#mantra {
  margin-left: 70px;
}

.box {
  background-color: #ffffff
}

.box {
  box-sizing: content-box;
  width: 500px;
  height: 15%;
  border-radius: 5px;
  padding: 1%;
  margin: auto;
}

#image-box {
  background-color:
}

#image-box {
  box-sizing: content-box;
  width: 800px;
  height: 125px;
  border-radius: 5px;
  padding: 1%;
  margin: auto;
  line-height: 125px;
  vertical-align: middle;
  font-family: Quicksand;
  font-size: 20px;
}

img {
  margin-top: 25px;
  height: 80px;
  width: 80px;
}

.hidden {
  display: none!important;
}


button {
  padding: 1%;
  margin: 20px;
  font-family: Quicksand;
}

.recieve-message {
  background-color: #134d71;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px;
  border-radius: 3px;
  margin-top: 20px;
}
